*.pyc
webpage/index.html
webpage/index.rss
webpage/recorded.html
webpage/schedule.html
webpage/_site
grant/*/build.pdf
_ignore
.jekyll-cache

# these can be force-added when necessary
webpage/images/*
.claude
