a.navbar-brand {
    display: block;
    max-height: 50px;
    height: 100px;
    float: left;
    overflow: visible;
    padding-top: 0;
    padding-left: 5px;
}

nav.navbar {
    margin-bottom: 40px;
}

div.navbar-collapse.in, div.navbar-collapse.collapsing {
    margin-top: 40px;
}

div.portrait {
    margin-right: 1.5em;
}

img.portrait {
    width: 100%;
    height: auto;
    max-width: 250px;
}

.heading-display {
    font-size: calc(3rem + vw);
    font-weight: 600;
    line-height: 2;
    font-weight: 800!important;
    margin-bottom: -0.5rem!important;
}

.large-body-no-space {
    font-size: 150%;
    font-weight: 400;
}

.large-body {
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 3rem!important;
}

.medium-body {
    font-size: 125%;
    font-weight: 400;
    margin-bottom: 3rem!important;
}
